%section.moduleStories
  - flash.each do |key, value|
    = content_tag :div, value, class: "flash #{key}"
  .layer-modS
    .row
      .large-5.columns
        .modStories-form
          %p.modStories-form-title Stories from the Field
          %p.modStories-form-quote Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Nulla porttitor accumsan tincidunt.
          %p.modStories-form-quote Sign Up Now and Get Started!
          = render "contacts/form"
      .large-5.columns
        .row
          .large-12.columns
            = link_to image_tag('templateA/yrdstiq1.png', :class=>"modStories-logo"), url_for('/welcome/templateA')
        .row
          .large-12.large-push-3.columns.logo-quote
            = link_to "Submit your information Now!", welcome_templateA_path
        .row
          .large-4.large-offset-8.columns
            .modStories-arrows
              = link_to image_tag('modules/leftarrow.png', :class => 'quick'), url_for('/moduleVehicle')
              = link_to image_tag('modules/rightarrow.png', :class => 'quick'), url_for('/moduleManagement')