%section
  .sticky.navbar
    %nav.top-bar{"data-topbar" => "", :role => "navigation"}
      .row
        .large-5.large-push-1.columns
          = image_tag 'templateB/yrdstiq1.png', :class=>'img-logo'
        .large-6.columns.navlist
          %ul.inline-list.ul-list
            %li
              %a{:href => "#"} HOME
            %li
              %a{:href => "#"} ABOUT
            %li
              %a{:href => "#"} PROCESS
            %li
              %a{:href => "#"} PORTFOLIO
            %li
              %a{:href => "#"} CONTACT
  .orbit-container
    %ul.orbit-container{"data-options" => "animation:fade;timer_speed: 3000;pause_on_hover: false;slide_number: false;navigation_arrows: false;bullets: false;next_on_click: false;", "data-orbit" => ""}
      %li
        = image_tag 'templateB/1.jpg'
      %li
        = image_tag 'templateB/2.jpg'
      %li
        = image_tag 'templateB/4.jpg'
    .layer
      .row
        .large-10.large-offset-1.columns
          %p Praesent sapien massa, convallis a pellentesque nec
      .row
        .large-10.large-offset-1.columns
          %span Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
      .row
        .large-6.large-offset-5.columns
          = image_tag 'templateB/arrowhead.png', :class=> "arrow"
      .row
        .large-6.large-offset-4.columns
          %button.button{:type => "button"} Discover more..
%section
  .intro
    .row
      .large-12.columns
        .row
          .large-6.columns
            %p MEET YARDSTIQ
          .large-6.columns
            %p BUILD A BETTER SOFTWARE
        .row
          .large-6.columns
            %p.subintro-quote Curabitur aliquet quam id dui posuere blandit. Donec rutrum congue leo eget malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
          .large-6.columns
            %p.subintro-quote Nulla porttitor accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
%section.logo-detail
  .logos
    .row
      .large-12.columns
        %p WORKING WITH STARTUPS AND TRANSFORMING ENTERPRISE
    .row
      .large-12.columns
        %p.sublogo-quote Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
    .row
      .large-12.columns
        %ul{"data-options" => "animation:slide;timer_speed: 3000;slide_number: false;navigation_arrows: false;bullets: false;next_on_click: true;", "data-orbit" => ""}
          %li{"data-orbit-slide" => "headline-1"}
            %ul.medium-block-grid-4
              %li= image_tag 'templateB/5.png', :class=>'logoz'
              %li= image_tag 'templateB/10.png', :class=>'logoz'
              %li= image_tag 'templateB/6.png', :class=>'logoz'
              %li= image_tag 'templateB/5.png', :class=>'logoz'
              %li= image_tag 'templateB/9.png', :class=>'logoz'
              %li= image_tag 'templateB/10.png', :class=>'logoz'
              %li= image_tag 'templateB/7.png', :class=>'logoz'
              %li= image_tag 'templateB/8.png', :class=>'logoz'
          %li
            %ul.medium-block-grid-4
              %li= image_tag 'templateB/6.png', :class=>'logoz'
              %li= image_tag 'templateB/7.png', :class=>'logoz'
              %li= image_tag 'templateB/9.png', :class=>'logoz'
              %li= image_tag 'templateB/5.png', :class=>'logoz'
              %li= image_tag 'templateB/10.png', :class=>'logoz'
              %li= image_tag 'templateB/9.png', :class=>'logoz'
              %li= image_tag 'templateB/10.png', :class=>'logoz'
              %li= image_tag 'templateB/8.png', :class=>'logoz'
%section.stack
  .style-one
  .row
    .large-4.columns
      %p FULL STACK DEVELOPMENT
      %p.substack-quote We're using the latest technologies that keep our products ahead of the curve.
    .large-2.columns
      %ul.stack-list
        %li Ruby on Rails
        %li Javascript
        %li HTML/CSS
        %li RSPEC
    .large-2.columns
      %ul.stack-list
        %li Bootstrap
        %li Middleman
        %li Angular JS
        %li Node JS
    .large-2.columns
      %ul.stack-list
        %li Ruby on Rails
        %li Sinatra
        %li Ember
        %li Python
    .large-2.columns
      %ul.stack-list
        %li JAVA
        %li Ruby on Rails
        %li Postgres
        %li Foundation
%section.work
  .row
    .large-8.columns
      %p Ready to work and talk with us?
      %p.subwork-quote Web or mobile, our team is here to transform your idea into an awesome application.
    .large-4.columns
      %button.button{:type => "button"} Let's Get Started
%section.details
  .row
    .large-4.columns
      %p.city MANILA
      %p
      %p.add Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit
      %p.phone +63 2 570 7884
    .large-4.columns
      %p.city AUSTRALIA
      %p
      %p.add Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit.
      %p.phone +1 503 479 5757
    .large-3.large-offset-1.columns
      %p.details-quote Stay Connected with Us
      %ul.medium-block-grid-3
        %li= image_tag 'templateB/fb1.png', :class => 'social-icons'
        %li= image_tag 'templateB/in1.png', :class => 'social-icons'
        %li= image_tag 'templateB/twit1.png', :class => 'social-icons'
%section
  .footer
    .row
      .large-12.columns
        %p © 2013 YARDSTIQ. All Rights Reserved