.form
  = form_for @contact do |f|
    = f.text_field :name, :require => true, :placeholder => 'Full Name', :class => 'tt'
    = f.text_field :email, :require => true, :placeholder => 'Email',:class => 'tt'
    = f.text_field :organization, :require => true, :placeholder => 'Organization', :class => 'tt'
    = f.text_field :role, :require => true, :placeholder => 'Role', :class => 'tt'
    = f.submit "Register", class: 'register-button'