.form
  = form_for @contact do |f|
    = f.text_field :name, :required => "", :placeholder => 'Full Name', :class => 'tt'
    = f.email_field :email, :required => "" , :placeholder => 'Email',:class => 'tt'
    = f.text_field :organization, :required => "" , :placeholder => 'Organization', :class => 'tt'
    = f.text_field :role, :required => "" , :placeholder => 'Role', :class => 'tt'
    = f.hidden_field :source, :value => request.fullpath
    = f.submit "Register", class: 'register-button'