.form
  = form_for @contact do |f|
    = f.text_field :name, :require => true, :placeholder => 'Full Name'
    = f.text_field :email, :require => true, :placeholder => 'Email'
    = f.text_field :organization, :require => true, :placeholder => 'Organization'
    = f.text_field :role, :require => true, :placeholder => 'Role'
    = f.submit "Register", class: 'register-button'